! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6


! URxvt Appearance

! Setting transparency and background
URxvt*depth:  32
URxvt.font: xft:Inconsolata:pixelsize=16

URxvt.keysym.Shift-C-Up:     font-size:increase
URxvt.keysym.Shift-C-Down:   font-size:decrease
URxvt.keysym.Shift-C-0:  font-size:reset

! DWM Colours
dwm.normbordercolor: #eeeeee
dwm.normbgcolor: #2b2b2b
dwm.normfgcolor: #ffffff
dwm.selbordercolor: #595959
dwm.selbgcolor: #a58804
dwm.selfgcolor: #ffffff

URxvt.letterSpace: 0
URxvt.lineSpace: -2
URxvt.geometry: 75x25
URxvt.internalBorder:10
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: false
! URxvt.depth: 24
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Ex
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: true
URxvt.urlButton: 1

! Link Handling
URxvt.url-launcher: /usr/bin/librewolf
URxvt.colorUL: #36a832
URxvt.perl-ext-common: default,matcher,font-size
URxvt.matcher.button: 1

! -- XIDLE -- !
XIdle*position: sw
XIdle*delay: 1
XIdle*timeout: 300

! -- XLOCK -- !
xlock.description: off
xlock.echokeys: off
xlock.info:
xlock.background: color0
xlock.foreground: FG
xlock.mode: blank
xlock.username: username: 
xlock.password: password: 
xlock.font: XFONT
xlock.planfont: XFONT
